* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 246, 230);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 10px 0;
  border-radius: 20px;
  background: linear-gradient(91deg, rgba(255,200,237,1) 0%, rgba(240,174,210,1) 33%, rgba(46,185,213,1) 100%);
}

.title {
  color: rgb(255, 255, 255);
  font-family: serif, Georgia, 'Times New Roman', Times;
  margin: 10px 0;
}

.shopping__lists {
  width: 100%;
  height: 500px;
  background-color: rgb(245, 234, 234);
  padding: 5px;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

li {
  list-style: none;
}

.shopping__wish-list {
  width: 100%;
  height: 40px;
  border: none;
  padding: 5px;
}

button {
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(41, 35, 35);
}

.list__add {
  margin-top: 10px;
}
.list__add .fa-cart-plus {
  font-size: 24px;
}