:root {
  --background-size-width: 900px;
  --background-size-height: 600px;
}

body {
  margin-top: 50px;
  text-align: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

button:hover {
  transform: scale(1.1);
  
}

.game {
  display: flex;
  flex-direction: column; /* 아래 game__field가 game의 영역을 넘어가지 않도록 지정 */
  width: var(--background-size-width);
  height: var(--background-size-height);
  margin: auto;
  background: url(./img/background.png) center/cover; /* position: cernter, size: cover*/
  border-radius: 20px;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 4px solid black;
  font-size: 24px;
}

.game__timer {
  width: 100px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  border-radius: 20px;
  font-size: 32px;
  margin-top: 8px;
  visibility: hidden;
}

.game__score {
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 34px;
  margin-top: 8px;
  background-color: darksalmon;
  border: 3px solid black;
  border-radius: 50%;
  color: white;
  visibility: hidden;
}

.pop-up {
  display: block;
  width: 400px;
  height: 140px;
  padding: 20px;
  margin: auto;
  background-color: #d3550290;
  color: white;
  text-align: center;
  transform: translateY(-150%);
  border-radius: 20px;

}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
}

.pop-up__message {
  display: block;
  font-size: 38px;
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  position: relative;
}